<div class='story'>
  <h2>{{model.title}}</h2>
  <div class='last-piece unfinished-story-text pieces'> 
    {{redacted-line small=true}}&nbsp;
    {{formatted-text visiblePiece.text}}
    {{redacted-line large=true}}
  </div>
  <div class='next-action clearfix'>
    <strong>Sign in the add to this story!</strong>
  </div>
</div>
