<div class='col m12'>
  {{#link-to 'stories.new' class='btn btn-default btn-sm'}}New{{/link-to}}
  <article class='collection'>
    {{#each story in controller}}
      {{#link-to 'story' story class='collection-item'}}
        <div class='story-preview'>
          {{user-icon email=story.user.email class='image'}}
          {{story.title}}
          <div class='body'>
            <span class='truncated'>{{story.pieces.firstObject.text}}</span>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
  </article>
</div>
