<div class='col-md-12'>
  <article class='center-block col-md-10 centered-column'>
    {{#link-to 'stories.new' class='btn btn-default btn-sm'}}New{{/link-to}}
  </article>

  <article class='center-block col-md-10 centered-column'>
    {{#each story in controller}}
    {{#link-to 'story' story}}
      <div class='media card story-preview'>
        <h1>
          {{user-icon email=story.user.email class='image'}}
          {{story.title}}
        </h1>
        <div class='body'>
          <span class='truncated'>{{story.pieces.firstObject.text}}</span>
        </div>
      </div>
      {{/link-to}}
    {{/each}}
  </article>
</div>
