.story { 

  .pieces {
    line-height: 1.2;
  }

  .hidden-textarea-wrapper {
    overflow: hidden;
    height: 0;

    textarea { 
      display: inline;
    }
  }

  .rules {
    .under {
      color: #51a351;
    }

    .over {
      font-weight: bold;
      color: #ac5555;
    }
  }

  .transition-piece {
    .liquid-container {
      padding-top: 4px;
    }
  }

  .next-action {
    margin-top: 10px;
  }
}
