.story { 

  .pieces {
    line-height: 1.2;
  }

  .hidden-textarea-wrapper {
    overflow: hidden;
    height: 0;

    textarea { 
      display: inline;
    }
  }

  .rules {
    .green {
      color: #51a351;
    }

    .red {
      color: #ac5555;
    }
  }
}
