html, body {
  font-family: 'Alegreya', serif;
  font-size: 18px;
}

h1, h2 {
  font-weight: 900;
  margin: 0;
}

a {
  color: rgb(184, 80, 80);
}

a:hover {
  text-decoration: none;
  color: rgb(144, 18, 18);
}

.sub {
  color: rgb(145, 145, 145);
}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.navbar-default {
  background: white;
  border: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}

.navbar {
  min-height: 30px;
  margin-bottom: 10px;
}

.progress {
  height: 12px;
}

.navbar-brand {
  font-family: 'Eater', cursive;
}

.centered-column {
  margin: 0 auto;
  float: none;
}

.truncated {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: 80%;
}

@import "story";
@import "redacted-line";
@import "rules";
@import "forms";
@import "homepage";
@import "modules/media";
@import "modules/card";
@import "modules/grayscale";
@import "modules/rounded";
