@import "bootstrap";

html, body {
  font-family: 'Alegreya', serif;
  font-size: 16px;
}

h1, h2 {
  font-weight: 900;
}

.sub {
  color: rgb(145, 145, 145);
}


.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}

.navbar {
  min-height: 30px;
  margin-bottom: 10px;
}

.progress {
  height: 12px;
}

@import "story";
