.homepage {
  background: url('/skeleton.jpg');
  min-height: 650px;
}

h1.brand {
  font-family: 'Eater', cursive;
  margin-top: 0px;
  font-weight: 900;
  font-size: 4.5em;
  position: relative;
  top: 100px;
  margin-left: 30px;
}
