{{#if showNavbar}}
  <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         {{#link-to 'stories.index' classNames='navbar-brand'}}Writermortis{{/link-to}}
       </div>
       <ul class="nav navbar-nav navbar-right">
         {{#if session.isAuthenticated}}
           <li class="dropdown">
             <a href="#" class="dropdown-toggle current-user-menu" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser.email}}<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href='' {{ action 'invalidateSession' }}>Logout</a></li>
             </ul>
           </li>
         {{else}}
           <li>{{#link-to 'login'}}Login{{/link-to}}</li>
         {{/if}}
       </ul>
     </div>
  </nav>
{{/if}}

<div class='container-fluid'>
  <div class='row'>
    {{liquid-outlet 'main'}}
  </div>
</div>
