<div class='headline'>
  <div class='pull-right'>
    {{#link-to 'stories'}}stories{{/link-to}} |
    {{#link-to 'login'}}login{{/link-to}}
  </div>
  <div class='container'>
    <div class='row'>
      <div>
        <div class='branding'>
          <h1 class='brand'>Writermortis</h1>
          {{#link-to 'users.new' class='btn btn-default call-to-action'}}<span class="glyphicon glyphicon-pencil"></span> Write something weird{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='info'>
    <div class='row'>
      <div class='col m4 s12 center-align'>
        More
      </div>
      <div class='col m4 s12 center-align'>
        Info
      </div>
      <div class='col m4 s12 center-align'>
        Here
      </div>
    </div>
  </div>
</div>
