<div class='homepage'>
  {{#link-to 'login'}}login{{/link-to}} |
  {{#link-to 'stories'}}stories{{/link-to}}
  {{#link-to 'users.new' class='btn btn-default'}}Write something weird{{/link-to}}
  <h1 class='brand'>Writermortis</h1>
</div>
<div class='info'>
  more stuff down here
</div>
