<div class='col-md-4'>
  {{#if session.isAuthenticated}}
    {{#link-to 'stories.index'}}Stories{{/link-to}}
  {{else}}
  <form {{action 'authenticate' on='submit'}}>
    <div class='input-field'>
      <label for="identification">Login</label>
      {{input value=identification class='form-control'}}
    </div>
    <div class='input-field'>
      <label for="password">Password</label>
      {{input value=password type='password' class='form-control'}}
    </div>
    <button class='btn btn-default' type="submit">Login</button>
  </form>
  {{/if}}
</div>
