<div class='col-md-2'>
  pieces left
</div>

<div class='col-md-7'>
  {{editable-story-viewer story=model newPiece=newPiece canPost=canPost currentUser=currentUser persistentPiece=persistentPiece}}
</div>

<div class='col-md-3'>
  participants
</div>
